# 04, 05 practice

In [53]:
import seaborn as sns
import pandas as pd

In [31]:
df = sns.load_dataset('titanic')

In [32]:
남자 승객의 결측치는 남자 승객의 평균
여자 승객의 결측치는 여자 승객의 평균
결측치를 모두 채우고 나서 모든 사람의 평균

SyntaxError: invalid syntax (2932544827.py, line 1)

In [33]:
df_copy = df.copy()

In [43]:
cond1 = df_copy['sex'] == 'male'
male_mean = df_copy.loc[cond1, 'age'].mean()
print(male_mean)

30.72664459161148

In [44]:
cond2 = df_copy['sex'] == 'female'
female_mean = df_copy.loc[cond2, 'age'].mean()
print(female_mean)

27.915708812260537

In [48]:
df_copy.loc[cond1, 'age'] = df_copy.loc[cond1, 'age'].fillna(male_mean)
df_copy.loc[cond2, 'age'] = df_copy.loc[cond2, 'age'].fillna(female_mean)

df_copy['age'].mean()

np.float64(29.736034227171306)

In [55]:
df = pd.read_csv('data/penguins.csv')

In [56]:
df = sns.load_dataset('penguins')

In [57]:
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [58]:
# 5000g 이상의 펭귄 출력

In [59]:
df_copy = df.copy()

In [65]:
cond1 = df_copy['body_mass_g'] >= 5000
df_copy.loc[cond1]['body_mass_g']

221    5700.0
223    5700.0
224    5400.0
227    5200.0
229    5150.0
        ...
335    5850.0
337    6000.0
341    5750.0
342    5200.0
343    5400.0
Name: body_mass_g, Length: 67, dtype: float64

In [67]:
# Gentoo종의 flipper_length 평균

In [71]:
cond1 = df_copy['species'] == 'Gentoo'
flipper_length_mm_mean = df_copy.loc[cond1,'flipper_length_mm'].mean()
df_copy['flipper_length_mm'].mean()

np.float64(200.91520467836258)

In [73]:
# Female Chinstrap종의 bill_length 높은순 정렬

In [77]:
cond1 = df_copy['sex'] == 'Female'
cond2 = df_copy['species'] == 'Chinstrap'

df_copy.loc[cond1 & cond2].sort_values('bill_length_mm', ascending=True).head(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
142,Chinstrap,Dream,32.1,15.5,188.0,3050.0,Female
98,Chinstrap,Dream,33.1,16.1,178.0,2900.0,Female
70,Chinstrap,Torgersen,33.5,19.0,190.0,3600.0,Female
92,Chinstrap,Dream,34.0,17.1,185.0,3400.0,Female
18,Chinstrap,Torgersen,34.4,18.4,184.0,3325.0,Female
54,Chinstrap,Biscoe,34.5,18.1,187.0,2900.0,Female
80,Chinstrap,Torgersen,34.6,17.2,189.0,3200.0,Female
52,Chinstrap,Biscoe,35.0,17.9,190.0,3450.0,Female
100,Chinstrap,Biscoe,35.0,17.9,192.0,3725.0,Female
124,Chinstrap,Torgersen,35.2,15.9,186.0,3050.0,Female

In [78]:
# species(종)별 성별 구분하여 평균 몸무게 출력
# => ex) Adelie, Female / Adelie, male / Gentoo, Female...

In [ ]:
df['species'].astype['']

In [ ]:
# bill_depth 결측치 채우기
        # => 같은종 같은섬의 평균으로

In [ ]:
cond1 = df_copy['species'] ==